html {
    height: 100%;
    font-family: "Devanagari Sangam MN";
    // scroll-behavior: smooth;
}
body{
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* {
    box-sizing: border-box;
    //rgb(253,253,253) : #FDFDFD
    //rgba(0, 0, 0, 0.5): #000000
    //rgb(250,245,245): #FAF5F5
    //rgb(151,151,151): #979797
    //rgb(51,133,229): #3385E5
    //rgb(196, 102, 106): #C4666A
    //rgb(81,77,77): #514D4D
    //rgb(33,71,117): #214775
    //rgb(81,77,77): #514D4D
    //rgb(139, 177, 222): #8BB1DE
    //rgb(1, 6, 19): #010613
    //rgb(239,243,247): #EFF3F7
    //rgb(139,87,42): #8B572A
}*/

.main-container{
    display: flex;
}
.nav{
    // display: none;
    position: sticky;
    top: 0;
    height: 100vh;
    color: rgb(253,253,253);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.nav-name-title{
    width: 232px;
    height: 194px;
    background-color: rgb(250,245,245);
    border-bottom: 1px solid rgb(151,151,151);
    text-align: center;
    margin-bottom: 20px;
}
.nav-name{
    font-size: 42px;
    color: rgb(51,133,229);
    line-height: 47px;
    padding-top: 26px;
}

.nav-title {
    font-size: 20px;
    color: rgb(196, 102, 106);
    padding-top: 27px;
    line-height: 27px;
}
.nav-ele{
    margin: 0px 11px;
    display: flex;
    line-height: 45px;
    text-decoration: none;
}
.nav-ele:hover{
    background-color: rgb(250,245,245);
    border-left: 3px solid rgb(196, 102, 106);
}

.nav-ele-img{
    width: 30px;
    height: 30px;
    padding-left: 5px;
}
.nav-ele-name{
   font-size: 18px;
    color: rgb(81,77,77);
    margin-left: 20px;
}
.marg-top-5{
    margin-top: 5px;
}

.body {
    overflow-y: auto;
    height: 100vh;
}

.main-content-section{

}

.heading{
    background-color: rgb(33,71,117);
}
.heading-title{
    font-size: 42px;
    color: rgb(255,255,255);
    line-height: 100px;
    margin-left: 15px;
}
.heading-dot{
    min-width: 8px;
    height: 8px;
    background-color: rgb(81,77,77);
    border: 1px solid rgb(81,77,77);
    border-radius: 8px;
    margin: 7px;
}
.heading-content-point{
    display: flex;
    margin: 10px 0px;
}

.heading-content {
    margin: 32px 40px;
}
.heading-content-point-text{
    font-size: 16px;
    margin-left: 10px;
    line-height: 24px ;
}

.cards-alignment{
    // display: flex;
    // justify-content: center;
}
.skill-card {
    width: 75%;
    // height: 240px;
    border: 1px solid rgb(139, 177, 222);
    box-shadow: 4px 3px 5px 0 rgb(139, 177, 222);
    border-radius: 15px;
    min-width: 325px;
    margin: 60px auto;
}


.skill-card-heading{
    line-height: 30px;
    font-size: 27px;
    color: rgb(1, 6, 19);
    opacity: 0.79;
    margin: 17px 0px 19px 23px;
}
.skill-card-heading-line{
    border:rgb(1, 6, 19) solid 1px;
    margin: 0px 2%;
}

.skill-card-content {
    margin: 17px 35px;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}

.skill-card-ele{
    display: flex;
    min-width: 220px;
}
.skill-card-ele-img{
    height: 25px;
    width: 25px;
}
.skill-card-ele-text{
    margin-left: 10px;
    font-size: 20px;
    color: rgb(1, 6, 19);
}

.skill-card-row {
    display: flex;
    /* margin: 15px 0px; */
    line-height: 30px;
}

.experience-card{
    width: 75%;
// height: 240px;
    border: 1px solid rgb(139, 177, 222);
    box-shadow: 4px 3px 5px 0 rgb(139, 177, 222);
    border-radius: 15px;
    margin: 60px auto;
    min-width: 700px;
}

.experience-card-heading{
    display: flex;
    justify-content: space-between;
    margin: 10px 25px;
}
.experience-card-content{
    margin: 17px 35px;
}
.experience-company-info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience-company-img{
    max-width: 160px;
    max-height: 50px;
}

.experience-company-name {
    font-size: 21px;
    line-height: 40px;
    color: #010613;
    margin-left: 10px;
    opacity: 0.79;
}

.experience-designation{
    // background-color: #EFF3F7;
    padding: 5px 7px;
    border-radius: 10px;
    color: #8B572A;
    font-size: 21px;
    text-align: right;
}

.experience-card-ele-text-heading{
    font-size: 16px;
    color: #514D4D;
}
.experience-card-ele-text{
    font-size: 16px;
    color: #010613;
}

.project-cards-alignment{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card{
    width: 38%;
    border: 1px solid rgb(139, 177, 222);
    box-shadow: 4px 3px 5px 0 rgb(139, 177, 222);
    border-radius: 15px;
    margin: 30px 13px;
    min-width: 325px;
}

.project-card-heading {
    color: #010613;
    font-size: 21px;
    opacity: 0.79;
    margin: 8px 0px 2px 17px;
}

.project-dot{
    min-width: 6px;
    height: 6px;
    background-color: rgb(81,77,77);
    border: 1px solid rgb(81,77,77);
    border-radius: 6px;
    margin: 7px;
}

.project-card-content{
    margin: 12px 13px;
}

.project-card-row{
    display: flex;
    margin: 4px 0px;
}
.project-card-ele-text{
    font-size: 14px;
    margin-left: 10px;
    color: rgb(1, 6, 19);
    opacity: 0.79;
    line-height: 28px;
}
.url-card-row{
    display: flex;
    margin: 10px 13px 0px 13px;
    justify-content: space-between;
}

.project-card-url{
    display: flex;
    text-decoration: none;
}
.project-card-url:hover{
    text-decoration: underline;
}
.edu-card-content{
    margin: 12px 13px;
}
.edu-card-row{
    display: flex;
    justify-content: space-between;
}
.education-card-uni {
    color: rgb(81, 77, 77);
    font-size: 21px;
    font-weight: bold;
    width: 70%;
}
.edu-card-year{
    color: rgb(81, 77, 77);
    font-size: 21px;
    min-width: 145px;
    text-align: end;
}
.edu-card-gpa{
    color: rgb(81, 77, 77);
    font-size: 21px;
    min-width: 80px;
    text-align: end;
}
.edu-card-degree{
    color: rgb(81, 77, 77);
    font-size: 19px;
}
.card-degree-view{
    color: rgb(81, 77, 77);
    font-size: 17px;
    margin-left: 5px;
    text-decoration: underline;
}
.certificate-card-content{
    margin: 15px 13px;
}
.certificate-card-row{
    display: flex;
}
.cert-card-cert{
    color: rgb(81, 77, 77);
    font-size: 19px;
    margin-left: 10px;
}
.cert-sub-card{
    width: 45%;
// height: 240px;
    border: 1px solid rgb(139, 177, 222);
    box-shadow: 4px 3px 5px 0 rgb(139, 177, 222);
    border-radius: 15px;
    min-width: 300px;
    margin: 10px auto;
}

.cert-card-ele{
    display: flex;
    margin: 15px;
}
.cert-card-ele-img{
    width: 80px;
    height: 60px;
}
.cert-card-ele-text{
    font-size: 17px;
    color: rgb(81, 77, 77);
}

.cert-card-images{
    display: flex;
    margin: 2px;
}

.cert-sub-cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.award-card-row{
    display: flex;
    // margin-left: 25px;
}
.contact-card-row{
    display: flex;
    color: rgb(81, 77, 77);
    font-size: 19px;
    margin-left: 20px;
    margin-top: 15px;
    text-decoration: none;
}
.contact-card-row:hover{
    text-decoration: underline;
}

.contact-card-ele-img {
    width: 55px;
    height: 55px;
}
.contact-card-row-text{
    margin-left: 35px;
    line-height: 55px;
}

.nav-mobile{
    display: none;
}
#mobile-side-nav{
    display: none;
}
.self-image{
    display: block;
    text-align: center;
    margin: 50px 50px 50px 50px;
}
.self-photo{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    color: rgb(216, 216, 216);
    border:rgb(151, 151, 151) 1px solid ;
    /*border-width: 1;
    border-style: solid;
    border-color: */
}


@media only screen and (max-width: 1024px){
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .self-image{
        display: block;
        text-align: center;
        margin: 70px auto 0px auto;
    }
    .nav {
        display: none;
        /*position: sticky;
        top: 0;
        height: 800px;
        color: rgb(253,253,253);
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);*/
    }
    .nav-mobile{
        display: block;
        position: sticky;
        top: 0;
        color: rgb(253,253,253);
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
    #mobile-side-nav{
        display: none;
        width: 232px;
        z-index: 2;
        position: fixed;
        height: 800px;
        background-color: rgb(250,245,245);
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
        /* border-right: 1px solid red; */
    }
    .hambergur-img{
        width: 30px;
        margin: 20px auto 10px 15px;
        float: left;
    }
    .mobile-title{
        text-align: center;
    }
    .nav-name-title{
        background-color: rgb(250,245,245);
        border-bottom: 1px solid rgb(151,151,151);
        text-align: center;
        width: auto;
        height: auto;
        margin-bottom: 0px;
    }
    .nav-name{
        font-size: 26px;
        color: rgb(51,133,229);
        line-height: 30px;
        padding-top: 10px;
    }
    .nav-title{
        font-size: 16px;
        color: rgb(196, 102, 106);
        padding-top: 0px;
        padding-bottom: 7px;
        line-height: 23px;
    }

    .heading-title {
        font-size: 26px;
        color: rgb(255,255,255);
        line-height: 80px;
        margin-left: 15px;
    }

    .heading-content {
        margin: 32px 13px;
    }

    .experience-card{
        width: 75%;
        border: 1px solid rgb(139, 177, 222);
        box-shadow: 4px 3px 5px 0 rgb(139, 177, 222);
        border-radius: 15px;
        min-width: 325px;
        margin: 60px auto;
    }

    .experience-card-heading{
        display: flex;
        margin: 10px 25px;
        flex-direction: column;
    }
    .experience-company-info{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .experience-company-name{
        font-size: 21px;
        line-height: 30px;
        color: #010613;
        margin-left: 10px;
        opacity: 0.79;
        text-align: center;
        margin-top: 9px;
    }
    .experience-designation{
        // background-color: #EFF3F7;
        padding: 5px 7px;
        border-radius: 10px;
        font-size: 17px;
        color: #8B572A;
        // text-align: center;
        text-align: right;
    }
    .experience-card-content {
        margin: 17px 8px;
    }

    .edu-card-row {
        display: flex;
        flex-direction: column;
        margin-top: 13px;
    }


    .education-card-uni {
        color: rgb(81, 77, 77);
        font-size: 17px;
        font-weight: bold;
    }

    .edu-card-year {
        color: rgb(81, 77, 77);
        font-size: 18px;
        min-width: 145px;
        text-align: end;
    }
    .edu-card-degree {
        color: rgb(81, 77, 77);
        font-size: 18px;
    }

    .edu-card-gpa {
        color: rgb(81, 77, 77);
        font-size: 17px;
        min-width: 80px;
        text-align: end;
    }
    .cert-sub-card {
        width: 45%;
        border: 1px solid rgb(139, 177, 222);
        box-shadow: 4px 3px 5px 0 rgb(139, 177, 222);
        border-radius: 15px;
        min-width: 270px;
        margin: 10px auto;
    }
    .cert-card-ele {
        display: flex;
        margin: 15px;
        flex-direction: column;
        text-align: center;
    }

    .cert-card-images {
        display: flex;
        margin: 2px;
        justify-content: center;
    }

    .cert-card-ele-text{
        font-size: 17px;
        color: rgb(81, 77, 77);
        margin-top: 10px;
    }

    .contact-card-row {
        display: flex;
        flex-direction: column;
        color: rgb(81, 77, 77);
        font-size: 19px;
        margin-top: 15px;
        text-decoration: none;
        margin-left: 0px;
    }

    .contact-card-ele-img {
        width: 55px;
        height: 55px;
        display: block;
        margin: 0px auto;
    }

    .contact-card-row-text {
        margin-left: 0px;
        line-height: 55px;
        text-align: center;
    }

    .heading{
        background-color: rgb(33,71,117);
    }

    #about, #skills, #experience, #projects,#education,#certificate,#awards,#contact{
        padding-top: 70px;
    }

}


